<!DOCTYPE html> 
<html> 

<head> 
	<title>ng-pattern Directive</title> 
	
	<script src= 
"https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"> 
	</script> 
	
	<style> 
		.red { 
			color:red 
		} 
		.green { 
			color:green 
		} 
	</style> 
</head> 

<body ng-app="app" style="text-align:center"> 
	
	<h1 style="color:green;">GeeksforGeeks</h1> 
	<h2 style="">ng-pattern Directive</h2> 

	<div ng-controller="geek"> 
		<ng-form name="accno"> 
			Account #:<input type="text" ng-model="accountno"
				name="accountno" ng-pattern="re" maxlength="10"/><br> 
				
			<span ng-show="accno.accountno.$error.pattern"
					style="color:red"> 
				Not a valid account number. 
			</span><br> 
			
			Confirm: <input type="text" ng-model="repass"
					ng-keyup="compare(repass)" name="repass"
                    ng-pattern="re" /><br> 

            <button ng-disabled="accno.$invalid">Save</button>
			
			<span ng-show="isconfirm || accno.repass.$dirty "
				ng-class="{true:'green',false:'red'}[isconfirm]"> 
				Password {{isconfirm==true?'':'not'}} match 
			</span>
		</ng-form> 
	</div> 
	
	<script> 
		var app = angular.module("app", []); 
		app.controller('geek', ['$scope', function ($scope) { 
			$scope.re = /(^[a-zA-Z]{2}[0-9]{8}$)|(^[a-zA-Z][0-9]{9}$)/; 
			
			$scope.compare = function (repass) { 
				$scope.isconfirm = $scope.accountno == repass ? 
						true : false; 
			} 
		}]); 
	</script> 
</body> 

</html>					 
